{% extends 'base.html.twig' %}

{% block title %}Liste des sondages{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div>
            <h1>Voici la liste des sondages que nous proposons.</h1>
            <p>Sélectionnez celui qui vous intéresse et répondez aux questions.</p>
        </div>
        <div class="mt-5">
            <table class="table table-striped table-hover table-primary">
                <thead>
                    <tr>
                        <th>Nom du sondage</th>
                        <th>Participer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sondage in sondages %}
                        <tr>
                            <td>{{sondage.titre}}</td>
                            <td><a href="{{ path("singleSondage", {id: sondage.id})}}"><button class="btn btn-success">Participer</button></a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2" class="text-center">Pas de sondage de disponible pour le moment.</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><a class="nav-link text-light" href="{{ path("createSondage")}}"><button class="btn btn-primary"> Ajouter Sondage</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
